* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background-color: rgb(122, 181, 175);
    background-size: cover;
    background-position: center;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: white;
    text-decoration: none;
    font-weight: 700;
}
.logo:hover {
    color:white;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}
.navbar a:hover {
    color:white;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}

/* Guest page classes */
:root {
    --index: calc(1vw + 1vh);
    --transition: 1s cubic-bezier(.05, .5, 0, 1);
}
.logotype {
    width: var(--index);
    height: var(--index);
    background-repeat: no-repeat;
    position: absolute;
}
.layers {
    perspective: 1000px;
    overflow: hidden;
}
.layers__container {
    height: 100vh;
    transform-style: preserve-3d;
    transform: rotateX(var(--move-y))  rotateY(var(--move-x));
    will-change: transform;
    transition: transform var(--transition);
}
.layers__item {
    position: absolute;
    inset: -5vw;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.layer-1 {
    transform: translateZ(-40px) scale(1.2);
}
.layer-2 {
    transform: translateZ(0);
}
.layer-3 {
    transform: translateZ(30px);
}

h1 {
    display: inline-block;
    color: white;
    font-family: 'Righteous', serif;
    font-size: 12em; 
    text-shadow: .03em .03em 0 hsla(230,40%,50%,1);
    }
    h1:after {
      content: attr(data-shadow);
      position: absolute;
      top: .06em; left: .06em;
      z-index: -1;
      text-shadow: none;
      background-image:
        linear-gradient(
          45deg,
          transparent 45%,
          hsla(48,20%,90%,1) 45%,
          hsla(48,20%,90%,1) 55%,
          transparent 0
          );
      background-size: .05em .05em;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    
      animation: shad-anim 15s linear infinite;
      }


.buttons {
    display: flex;
    width: 380px;
    gap: 10px;
    --b: 5px;   /* the border thickness */
    --h: 1.8em; /* the height */
}
      
.buttons button {
    --_c: #88C100;
    flex: calc(1.25 + var(--_s,0));
    min-width: 0;
    font-size: 40px;
    font-weight: bold;
    height: var(--h);
    cursor: pointer;
    color: var(--_c);
    border: var(--b) solid var(--_c);
    background: 
        conic-gradient(at calc(100% - 1.3*var(--b)) 0,var(--_c) 209deg, #0000 211deg) 
        border-box;
    clip-path: polygon(0 0,100% 0,calc(100% - 0.577*var(--h)) 100%,0 100%);
    padding: 0 calc(0.288*var(--h)) 0 0;
    margin: 0 calc(-0.288*var(--h)) 0 0;
    box-sizing: border-box;
    transition: flex .4s;
    }
.buttons button + button {
    --_c: #FF003C;
    flex: calc(.75 + var(--_s,0));
    background: 
        conic-gradient(from -90deg at calc(1.3*var(--b)) 100%,var(--_c) 119deg, #0000 121deg) 
        border-box;
    clip-path: polygon(calc(0.577*var(--h)) 0,100% 0,100% 100%,0 100%);
    margin: 0 0 0 calc(-0.288*var(--h));
    padding: 0 0 0 calc(0.288*var(--h));
    }
.buttons button:focus-visible {
    outline-offset: calc(-2*var(--b));
    outline: calc(var(--b)/2) solid #000;
    background: none;
    clip-path: none;
    margin: 0;
    padding: 0;
    }
.buttons button:focus-visible + button {
    background: none;
    clip-path: none;
    margin: 0;
    padding: 0;
      }
      .buttons button:has(+ button:focus-visible) {
        background: none;
        clip-path: none;
        margin: 0;
        padding: 0;
      }
      button:hover,
      button:active:not(:focus-visible) {
        --_s: .75;
      }
      button:active {
        box-shadow: inset 0 0 0 100vmax var(--_c);
        color: #fff;
      }
/* End */

/* Login/Registration Pages */
.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid(rgb(255, 255, 255, .5));
    border-radius: 20px;
    backdrop-filter: blur(20px);
    display: flex;
    box-shadow: 0 0 30px rgb(0, 0, 0, .5);
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: height .2s cubic-bezier(.05, .5, 0, 1);
}
.wrapper.active {
    height: 520px;
}
.wrapper .form-box {
    width: 100%;
    padding: 40px;
}
.wrapper .form-box.login {
    transition: transform .2s ease;
    transform: translateX(0);
}
.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}
.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}
.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
}
.form-box h2{
    font-size: 2em;
    color: white;
    text-align: center;
}
.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid rgb(0, 0, 0, .5);
    margin: 30px 0;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: white;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: white;
    font-weight: 600;
    padding: 0 35px 0 5px;
}
.input-box .icon {
    position: absolute;
    right: 10px;
    font-size: 1.2em;
    color: white;
    line-height: 57px;
}
.remember-forgot{
    font-size: .9em;
    color: white;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember-forgot label{
    accent-color: rgb(164, 35, 171);
    margin-right: 3px;
}
.remember-forgot a{
    color: white;
    text-decoration: none;
}
.remember-forgot a:hover{
    color: rgb(197, 38, 205);
    text-decoration: underline;
    transition: .5s;
}
.btn-sign {
    width: 100%;
    height: 45px;
    background: rgb(164, 35, 171);
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
}
.login-register-link {
    font-size: .9em;
    color: white;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.login-register-link p a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.login-register-link p a:hover {
    color: rgb(197, 38, 205);
    text-decoration: underline;
    transition: .5s;
}
/* End */

/* OwnCustom Page */
.constructor-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.tshirt-container {
    position: relative;
}
img {
    max-width: 100%;
    max-height: 100%;
}
.control-panel {
    margin-left: 20px;
}
#tshirt {
    z-index: 0; /* Футболка на заднем плане */
}

#print {
    z-index: 20px; /* Принт на переднем плане (поверх футболки) */
}
/* End */

.text-box {
    width: 90%;
    color: white;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1{
    font-size: 55px;
    font-weight: 900;
    color: #d8f824;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text-box #utext {
    font-size: 36px;
    font-weight: 900;
    margin-top: 1%;
    margin-bottom: 1%;
    color: #c8d0ff;
}

.about-us{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 70%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.about-us h1 {
    font-size: 45px;
    font-weight: 800;
    padding-bottom: 40px;
    margin: 15px 0;
    line-height: 50px;
    text-align: center;
    color: #f82424;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.about-us p {
    color: rgb(102, 102, 102);
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.a-row {
    margin-top: 20%;
    display: flex;
    justify-content: space-between;
}
.about-col {
    top: 60%;
    flex-basis: 31%;
    background-color: white;
    border-radius: 10px;
    padding: 20px 12px;
    box-sizing: border-box;
}

.row {
    margin-top: 5%;
}
.about-col {
    background: #fff3ff;
    border-radius: 15px;
    margin-top: 50px;
    padding: 23px;
    box-shadow: 0 0 17px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
}